:root,
.light,
.light-theme {
	--yellow-1: #f8f7f5;
	--yellow-2: #fef3e1;
	--yellow-3: #ffeab2;
	--yellow-4: #ffdf8b;
	--yellow-5: #ffd363;
	--yellow-6: #fec759;
	--yellow-7: #eab64c;
	--yellow-8: #d99d00;
	--yellow-9: #ffbd00;
	--yellow-10: #fdb300;
	--yellow-11: #966600;
	--yellow-12: #3a2e14;

	--yellow-a1: #e5f1ff3b;
	--yellow-a2: #fea40212;
	--yellow-a3: #ffeab2;
	--yellow-a4: #ffdf8b;
	--yellow-a5: #ffd363;
	--yellow-a6: #feaa02a2;
	--yellow-a7: #e19800af;
	--yellow-a8: #d99d00;
	--yellow-a9: #ffbd00;
	--yellow-a10: #fdb300;
	--yellow-a11: #966600;
	--yellow-a12: #342400e5;

	--yellow-contrast: #2b2009;
	--yellow-surface: #fef1ddcc;
	--yellow-indicator: #ffbd00;
	--yellow-track: #ffbd00;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		:root,
		.light,
		.light-theme {
			--yellow-1: oklch(97.6% 0.0036 82.04);
			--yellow-2: oklch(96.8% 0.0269 82.04);
			--yellow-3: oklch(95% 0.0798 82.04);
			--yellow-4: oklch(92.6% 0.1185 82.04);
			--yellow-5: oklch(89.7% 0.1497 82.04);
			--yellow-6: oklch(85.7% 0.1396 82.04);
			--yellow-7: oklch(80.4% 0.1348 82.04);
			--yellow-8: oklch(73.4% 0.1543 82.04);
			--yellow-9: oklch(84.5% 0.2022 82.04);
			--yellow-10: oklch(81.3% 0.1889 82.04);
			--yellow-11: oklch(54.5% 0.1571 82.04);
			--yellow-12: oklch(30.8% 0.0518 82.04);

			--yellow-a1: color(display-p3 0.8784 0.9333 1 / 0.167);
			--yellow-a2: color(display-p3 0.9333 0.6235 0.0039 / 0.066);
			--yellow-a3: color(display-p3 0.9569 0.7529 0.0039 / 0.243);
			--yellow-a4: color(display-p3 0.9647 0.7216 0.0039 / 0.383);
			--yellow-a5: color(display-p3 0.9529 0.7059 0 / 0.519);
			--yellow-a6: color(display-p3 0.9373 0.6353 0 / 0.556);
			--yellow-a7: color(display-p3 0.8196 0.5608 0 / 0.61);
			--yellow-a8: color(display-p3 0.7686 0.5255 0 / 0.778);
			--yellow-a9: color(display-p3 0.949 0.6706 0 / 0.729);
			--yellow-a10: color(display-p3 0.9333 0.6235 0 / 0.741);
			--yellow-a11: color(display-p3 0.4941 0.3176 0 / 0.865);
			--yellow-a12: color(display-p3 0.1765 0.1216 0 / 0.877);

			--yellow-contrast: #2b2009;
			--yellow-surface: color(display-p3 0.9843 0.9529 0.8745 / 0.8);
			--yellow-indicator: oklch(84.5% 0.2022 82.04);
			--yellow-track: oklch(84.5% 0.2022 82.04);
		}
	}
}
